src/main/mule/firstmule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a689c62b-5c09-42e7-9250-a97b7749754c" basePath="firstmule" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="firstmuleFlow" doc:id="9729d3f9-044f-4e84-bd17-6b9de87bc374" >
		<http:listener doc:name="firstmule" doc:id="73a85953-ff0f-4b08-9326-ae80c7453695" config-ref="HTTP_Listener_config" path="firstmule" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="32321435-e00d-4baa-90cb-904fb7fa7318" message="#[welcome to mule]"/>
	</flow>
</mule>
